<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Результат</title>
        <link type="text/css" rel="stylesheet" href=" {% static 'calculator/css/normalize.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href=" {% static 'calculator/css/main.css' %}">
</head>
<body>
<div>
<h5 style="font-size:20px; ">Количество листов: {{ number_sheets }}</h5><br>
<h5 style="font-size:20px; ">Количество упаковок: {{ number_packages }} и листов {{ number_sheets_plus }}</h5><br>
<h5 style="font-size:20px; ">Итого цена: {{ total_price }}</h5><br>
<h5 style="font-size:20px; "> {{ absence }} </h5>
</div>
</body>
</html>