<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="yandex-verification" content="8c9e34d27b70836e" />
        <title>Расчёт плит Penopleks</title>
        <link type="text/css" rel="stylesheet" href=" {% static 'calculator/css/normalize.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href=" {% static 'calculator/css/main.css' %}">
</head>
<body>


<div>
    <form action="{% url 'calculation' %}" method="POST">
          <h3>Расчёт плит Penopleks</h3>

          <label for="name"><h5>Площадь м2</h5></label>
          <input type="text" id="area" name="required_area"><br>

          <label for="name"><h5>Толщина см</h5></label>
          <input type="text" id="thickness" name="sheet_thickness"><br>

          <label for="name"><h5>Цена за упаковку</h5></label>
          <input type="text" id="name" name="package_price"><br>

          <button type="submit">Расчитать</button>
      </form>
</div>
</body>
</html>